// Susy setup ----------------------------
$susy: (
		columns: 12,
		gutters:  1/4,
		math: fluid,
		output: float
		);
	


@include border-box-sizing;

// breakpoints
$small 					:	30em;
$medium					:	47em;
$large					:	75em;



// layout container
.layout {
	@include container;
	padding: 3%;
}

.hero {
	@include hero-background('misc/hero.jpg');
}


p {
	padding-bottom:1.5em;
}

.layout {
	
@include container(80%);
max-width: 1140px;
}