
//  colors -------------------------------

// font-awesome --------------------------
$fa-font-path :  "../../vendor/font-awesome/fonts";

// fonts ---------------------------------
$font-primary : Droid Serif, serif;
$font-secondary : Rokkitt, serif;
$font-hero : Lobster, serif;